.login {
  background-image: url("/assets/images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border: 1px solid;
}
.login-form {
  width: 400px;
  height: 500px;
  margin: 200px auto;
  border: 2px solid;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
}
.login input {
  /* width: 50% */
  /* border-radius: 10px; */
  border: 2px solid green;
}
.sign-up {
  margin: 20px;
}
.sign-up p {
  font-size: 20px;
}
.sign-up span {
  font-size: 20px;
  color: red;
}
