<div class="row">
  <div class="col-md-6">
    <h1 style="text-align: center;">Contact us</h1>
<div class="container">
  <form action="#" method="post">
    <label for="farmerName">Farmer Name:</label>
    <input type="text" id="farmerName" name="farmerName" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" required>

    <label for="imageInput">Image Input:</label>
    <input type="file" id="imageInput" name="imageInput" accept="image/*">

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" required></textarea>

    <input type="submit" value="Submit">
</form>
  </div>
  </div>
  <div class="col-md-6">
    <div class="address"> 
      <img src="assets/images/contactus.png" alt="">
    </div>
    <div class="location">
         <h3>Get in touch</h3>
         <div class="addressitems">
          <div class="addres">
         
            <i class="bi bi-geo-alt-fill"></i>
            <h4>Address</h4>
            <p>Agrikart pvt Ltd. <br>
            Sipcot It Park <br>
            Trichy -621851</p>

          </div>
          <div class="addres">

            <i class="bi bi-telephone"></i>
            <h4>Phone</h4>
            <p>Mobile: 9150632151 <br>
              Tel: 040-34567-908
            </p>
          </div>
          <div class="addres">
            <i class="bi bi-envelope"></i>
            <h4>Email</h4>
             <p>Mail to: <a href="mailto:agirkart@gmail.com">agrikart@gmail.com</a></p>
          </div>
         </div>
          
    </div>
 
  </div>
</div>

