<h2>Cart Items</h2>
<div class="cart-items">

<table>
<thead>
    <tr>
    
        <th>S.No</th>
        <th>id</th>
        <th>Image</th>
        <th>Name</th>
        <th>Prize</th>
        <th>Category</th>
    
   
    
</tr>
</thead>

<tr *ngFor="let data of cart index as i">
    <td>{{i+1}}</td>
    <td>{{data.id}}</td>
    <td> <img [src]="data.product_image" alt=""></td>
    <td>{{data.product_name}}</td>
    
    
    <td>{{data.product_prize |currency:'INR'}}</td>
    <td>{{data.product_category}}</td>

</tr>


</table>
<button (click)="fetchdata()" class="btn btn-success">Fetch</button>
<button (click)="deletedata()" class="btn btn-danger">Delete</button>



</div>
