
<div class="cart-items">
    <h2>Cart Items</h2>
    <button (click)="fetchdata()" class="btn btn-success">Fetch</button>
    <button (click)="deletedata()" class="btn btn-danger">Delete</button>
<table>
<thead>
    <tr *ngFor="let head of tableHeaders">
    
        <th>{{head.id}}</th>
        <th>{{head.pId}}</th>
        <th>{{head.productImage}}</th>
        <th>{{head.productName}}</th>
        <th>{{head.productPrize}}</th>
        <th>{{head.productCategory}}</th>
        <th></th>
    
   
    
</tr>
</thead>

<tr *ngFor="let data of cart index as i">
    <td>{{i+1}}</td>
    <td>{{data.id}}</td>
    <td> <img [src]="data.product_image" alt=""></td>
    <td>{{data.product_name}}</td>
    
    
    <td>{{data.product_prize |currency:'INR'}}</td>
    <td>{{data.product_category}}</td>
    <td><button class="btn btn-danger" (click)="deleteProduct(data.id)">Delete</button></td>

</tr>


</table>




</div>
