<div class="product">

    <div class="row" id="product-container">
        <div class="col-md-4" id="product">
      
            <div class="product-image">
                <img src="assets/vegetables.jpg" alt="" width="250px" height="200px">
            </div>
            <h3>Agriculture Products</h3>
            <div class="product-content">
               <p>Connecting farmers directly with consumers through an online platform, our agricultural e-commerce venture offers a diverse range of fresh and sustainable farm products.</p>
            </div>
            <div class="card-button">
                <button type="button" class="btn btn-outline-success" routerLink="/agri">Explore</button>
            </div>
            
        </div>
        <div class="col-md-4" id="product">
      
            <div class="product-image">
                <img src="assets/seeds.jpeg" alt="" width="250px" height="200px">
            </div>
            <h3>Seeds</h3>
            <div class="product-content">
               <p>Explore a diverse selection of high-quality seeds for your gardening needs on our e-commerce platform, offering a wide range of premium seeds to nurture your plants and cultivate a thriving garden at home.</p>
            </div>
            <div class="card-button">
                <button type="button" class="btn btn-outline-success">Explore</button>
            </div>
            
        </div>
        <div class="col-md-4" id="product">
      
            <div class="product-image">
                <img src="assets/fertilizer.jpeg" alt="" width="250px" height="200px">
            </div>
            <h3>Fertilizers</h3>
            <div class="product-content">
               <p>Discover eco-friendly and effective natural fertilizers for a healthier garden on our e-commerce platform. Enhance soil nutrition sustainably with our curated selection, fostering greener and more vibrant plant growth.</p>
            </div>
            <div class="card-button">
                <button type="button" class="btn btn-outline-success" routerLink="/fertilizer">Explore</button>
            </div>
            
        </div>

        <div class="col-md-4" id="father-agri">
           <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <img src="assets/msswami.jpeg" alt="" >
            </div>
            <div class="col-md-6" id="father-about">
                <h1>"If Agriculture fails <br>
                everything else will fail"</h1>
                <p>- M S Swaminathan <br> Father of Indian Green Revolution</p>
            </div>
            <div class="col-md-2">
               
            </div>
            
           </div>
                   
              
            
            
            
            
        </div>
        <div class="col-md-4"></div>
    </div>
   <!-- <app-layout></app-layout>  -->

</div>

<router-outlet></router-outlet>


