#top-heading
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
     padding: 20px;
}
#product-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* margin-top: 40px; */
  
   
    
}
#product
{
    width: 450px;
    border: 1px solid;
    margin: 5px;
  
   
}
img
{
    margin: 20px;
}

.product-content p{
    line-height: 30px;
}
.card-button
{
   margin: 0 auto;
}
 button
{
    text-align: center;
    width: 170px;
  margin: 20px;
    font-size: 20px;
    bottom: 0;
}
#father-agri
{
    width: 70%;
    margin: 10px;
    
}
#father-agri img
{
    width:"160px";
     height:"160px";
     border-radius: 10%;
}
#father-about
{
    padding: 10px;
    margin: 40px;
    font-size: 20px;
    
}
#father-about h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
