

<div class="navigation-bar">
    <nav>
          <a class="logo">AgriKart</a>
          <a routerLink="Home">Home</a>
         <a routerLink="About">About</a>  
          <a routerLink="Product">Products</a>
         <a routerLink="Contact">Contact</a>
        <button class="btn" (click)="navigateToCart()"><i class="bi bi-cart" id="cart"><span class="cart-num"><sup>{{cartLength}}</sup></span></i></button> 
         <div class="login">
        
         <div  *ngIf="!authService.isauthenticated()else loggedInTemplate">
          <button class="btn btn-dark" routerLink="Login" (click)="login()">Login</button> 
         </div>    
          <ng-template #loggedInTemplate>
            <p>{{loggedInUser}}</p>
            <button class="btn btn-dark" (click)="logout()">Logout</button>
          </ng-template>
         </div>
          
           
  
    </nav>
  </div>
  

  
  
  
     
  
  
  
  
  