<div class="navigation-bar">
  <nav>
    <img src="assets/images/logo.png" class="logo-image" alt="" />
    <span class="appName">AgriKart</span>
    <a routerLink="home">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="product">Products</a>
    <a routerLink="contact">Contact</a>

    <div class="login">
      <button class="btn"  routerLink="cart"  >
        <i class="bi bi-cart" id="cart"><span class="cart-num"><sup>{{ cartLength }}</sup></span></i>
      </button>

      <button
        class="btn btn-dark"
        *ngIf="!authService.loggedIn()"
        routerLink="login"
        id="loginButton">
        Login
      </button>

      <button
        class="btn btn-dark"
        (click)="logout()"
        routerLink="login"
        *ngIf="authService.loggedIn()">
        Logout
      </button>
    </div>
  </nav>
</div>
