l
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div id="heading">
      <h1 style="font-size: 60px; font-weight: 800; color: black" translate>
        {{heading}}
      </h1>
      <h1
        style="
          font-size: 80px;
          font-family: monospace;
          font-style: italic;
          color: white;
          font-weight: bolder;
        "
      >
        Pure 100% <br />
        Organic Products
      </h1>
      <p style="color: yellow; font-size: 30px">
        Get your Agiruculture goods directly from the hands of Farmers
      </p>
      <button class="btn btn-success" id="get">
        Get Started<i
          class="bi bi-arrow-right"
          style="padding: 10px; color: black"
        ></i>
      </button>
      <div class="line"></div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
